* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: letras-finas;
    src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: Kanit-BlackItalic;
    src: url("../fonts/Kanit-BlackItalic.ttf");
}

@font-face {
    font-family: Kanit-ExtraLight;
    src: url("../fonts/Kanit-ExtraLight.ttf");
}






