.main-index {
    .contenido-acuarios {
        display: none;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        z-index: 1;
        font-family: Kanit-ExtraLight;
        gap: 20px;
        margin-bottom: 100px;
        margin-top: 40px;

        .container-contenidotyp {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;
        }

        .container-vidrio {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;
        }

        .containar-filtracion {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;

            h4 {
                text-decoration: underline;
            }

            .titulo-img {
                text-decoration: underline;
            }

            .container-img {
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;

                img {
                    width: 100%;
                }
            }

            .img-interno {
                padding: 10px;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .img-externo {
                padding: 10px;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        .container-calentador {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;

            h4 {
                text-decoration: underline;
            }

            .calentador-img {
                padding: 10px;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        .container-sustrato {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;

            h4 {
                text-decoration: underline;
            }

        }

        .container-acondicionamientoagua {
            background: linear-gradient(90deg, rgb(68, 149, 68), rgba(2, 71, 2, 0.681), rgba(0, 0, 255, 0.701));
            border-radius: 10px;
            padding: 1px;
            color: aliceblue;

            h4 {
                text-decoration: underline;
            }
        }

        .especies-recomendadas {
            display: flex;
            min-width: 100%;
            overflow: scroll;
            scrollbar-width: none;
            .peces-deaguadulce {
                display: flex;
                gap: 10px;

                h3 {
                    background: linear-gradient(90deg, red, lime);
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    position: absolute;
                    top: -100;
                }

                h4 {
                    display: flex;
                    justify-content: center;
                }

                .pez-figure {
                    display: flex;
                    justify-content: center;

                    figure {
                        position: relative;
                        background-color: rgb(166, 116, 51);
                        width: 300px;
                        height: 300px;
                        border-radius: 10px;
                        overflow: hidden;

                        h4 {
                            background: linear-gradient(90deg,rgba(255, 255, 255, 0.755),rgba(0, 255, 0, 0.795));
                            width: 100%;
                            position: absolute;
                        }

                        img {
                            display: flex;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

}