.main-documentales{
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgb(0, 162, 255), rgba(17, 0, 255, 0.863));
        padding-top: 100px;
        padding-bottom: 50px;
}