.main-index {
    .navbar-peces {
        z-index: 1;
        display: none;
        flex-direction: column;
    
    .container-buscador {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        gap: 3px;         
        input {
            z-index: 1;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 47px;
            outline: none;
            
            &:hover{
                box-shadow: 8.5px 0 15px 12px;
            }
        }

        .btnBuscarP{
            position: relative;
            z-index: 1;
            border: none;
            border-radius: 5px;
            padding: 2px;
            right: 48px;
            background: linear-gradient(90deg,yellow,red);
            padding: 10px;

            &:hover{
                box-shadow: 0 0 10px 1px red;
            }
        }

       

        
    }

    .Introduccion-peces{
      display: flex;  
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 5px;
      p{
        font-family:  Kanit-ExtraLight;
        z-index: 1;
        color: aliceblue;
        background: linear-gradient(90deg,rgba(0, 0, 255, 0.795),rgba(109, 109, 7, 0.76),rgba(0, 255, 0, 0.753));
        border-radius: 5px; 
        padding: 5px;       
      }
     }

    .container-wikiPeces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        z-index: 1;
        padding: 10px;
        margin: 2px;
        border-radius: 10px;
        gap: 10px;
        margin-bottom: 50px;


        .container-aguaDulce {
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg, lime, red);

            h2 {
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }

        .container-aguaSalada {
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg, lime, red);

            h2 {
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }

        .Invertebrados {
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg, lime, red);

            h2 {
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }

        .reptiles {
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg, lime, red);

            h2 {
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }
    }
    
    .explicacion-aguaDulce{
        margin: 20px;
        border-radius: 10px;
        background: linear-gradient(90deg,rgb(0, 183, 255),rgb(49, 49, 160));
        
        h2{
            font-family: letras-finas;
            color: aliceblue;
            padding: 5px;
            z-index: 1;
        }

        p{
            font-family: Kanit-ExtraLight;
            padding: 5px;
        }
    }

    .explicacion-aguaSalada{
        margin: 20px;
        border-radius: 10px;
        background: linear-gradient(90deg,rgb(0, 183, 255),rgb(49, 49, 160));
    
        h2{
            font-family: letras-finas;
            color: aliceblue;
            padding: 5px;
            z-index: 1;
        }

        p{
            font-family: Kanit-ExtraLight;
            padding: 5px;
        }
    }

    .Reptiles-acuaticos{
        margin: 20px;
        border-radius: 10px;
        background: linear-gradient(90deg,rgb(0, 183, 255),rgb(49, 49, 160));
    
        h2{
            font-family: letras-finas;
            color: aliceblue;
            padding: 5px;
            z-index: 1;
        }

        p{
            font-family: Kanit-ExtraLight;
            padding: 5px;
        }
    }

    .Invertebrados-acuaticos{
        margin: 20px;
        border-radius: 10px;
        background: linear-gradient(90deg,rgb(0, 183, 255),rgb(49, 49, 160));
        margin-bottom: 100px;
        h2{
            font-family: letras-finas;
            color: aliceblue;
            padding: 5px;
            z-index: 1;
        }

        p{
            font-family: Kanit-ExtraLight;
            padding: 5px;
        }
    }
}

}