.main-index {
    .container-wikiPeces{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        z-index: 1;
        padding: 10px;
        margin: 2px;
        border-radius: 10px;
        gap: 5px;

        .container-aguaDulce {
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg,lime,red);
            h2{
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li{
                list-style: none;
            }

            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }

        .container-aguaSalada{
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 10px;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(90deg,lime,red);
            h2{
                font-family: letras-finas;
                font-size: 17px;
                letter-spacing: 2px;
            }

            li{
                list-style: none;
            }

            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: Kanit-ExtraLight;
            }
        }
    }

    
}