.header-ducumentales{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.678),rgba(72, 71, 71, 0.707),rgba(0, 0, 0, 0.668),rgba(111, 111, 111, 0.737));
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    top: -10px;
    transition: 5s;
    .volver-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        svg{
            width:30px;
            padding: 1px;
            color: coral;
        }

        h6{
            color: coral;
            font-family: Kanit-ExtraLight;
        }

        a{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .button-desplegar{
        
        background-color: rgba(72, 71, 71, 0.934);
        width: 25px;
        height: 25px;
        border-radius: 0 0 10px 10px;
        top: 10px;
        svg{
            color: aliceblue;
            padding: 3px;
        }
    } 
}